* {
    margin: 0;
    padding: 0;
}

/* header */

#container-1 {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

#john {
    height: 200px;
    opacity: 0.9;
}

#morlock {
    height: 200px;
    opacity: 0.9;
}


#logo {
    margin: 10px 120px;
    height: 200px;
}

#lang-switch {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

#lang-switch > a {
    margin: 0 10px;
}

/* main */

#container-2 {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}

#frame {
    background-image: url("images/frame.png");
    height: 1250px;
    width: 800px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

#comic-page {
    height: 823px;
    position: relative;
    top: 228px;
    left: 109px;
}

.arrow-big {
    height: 180px;
    margin-top: 455px;
    opacity: 0.25;
    border: none;
    outline: none;
}

.arrow-big > img {
    height: 180px;
}

.arrow-big:hover {
    opacity: 1;
    cursor: pointer;
}

/* footer */

#footer {
    opacity: 0.5;
    font-family: 'Baloo 2', cursive;
    font-size: large;
    max-width: 850px;
    margin: 30px auto;
}