* {
    margin: 0;
    padding: 0;
}

.arrow {
    border: none;
    outline: none;
}

.arrow:hover {
    opacity: 1;
    cursor: pointer;
}

/* header */

#container-1 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hero {
    width: 100%;
    max-width: 280px;
    height: auto;
    opacity: 0.9;
}

#logo {
    width: 100%;
    max-width: 480px;
    height: auto;
    margin: 10px 0px;
}

/* nav */

#nav {
    margin-top: 60px;
}

.arrow-small {
    opacity: 0.40;
    height: 40px;
    margin-top: 16px;
}

.arrow-small > img {
    height: 40px;
}

#episode-switch{
    max-width: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#episode-number {
    opacity: 0.4;
    margin: 0 20px;
    font-family: 'Baloo 2', cursive;
    font-size: xxx-large;
}

#lang-switch {
    position: absolute;
    margin-top: 85px;
    margin-left: 1250px;
    display: flex;
}

#lang-switch > a {
    margin: 0 10px;
}

/* main */

#container-2 {
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#frame {
    background-image: url("images/frame.png");
    height: 1500px;
    width: 1000px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

#comic-page {
    height: 1130px;
    position: relative;
    top: 227px;
    left: 100px;
}

.arrow-big {
    opacity: 0.30;
    height: 180px;
    margin-top: 600px;
}

.arrow-big > img {
    height: 180px;
}

/* footer */

#footer {
    opacity: 0.5;
    font-family: 'Baloo 2', cursive;
    font-size: large;
    max-width: 813px;
    margin: 40px auto;
    text-align: center;
}