<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>Tramp Webcomic</title>
    <meta name="description" content="Comic created by Justyna „Tysirr” Romul">
    <meta name="author" content="Damian Juszczak">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'webcomic/style.css' %}">
  </head>

  <body>
    <header>
      <div id="container-1">
        <div>
          <a href="https://www.patreon.com/Tysirr" target="_blank" rel="noopener noreferrer">
            <img id="john" src="{% static 'webcomic/images/John.png' %}" alt="Comic hero John with Patreon link">
          </a>
        </div>
        <div>
          <a href="/webcomic">
            <img id="logo" src="{% static 'webcomic/images/logo.png' %}" alt="Tramp by Tysirr logo">
          </a>
        </div>
        <div>
          <a href="https://www.patreon.com/Tysirr" target="_blank" rel="noopener noreferrer">
            <img id="morlock" src="{% static 'webcomic/images/Morlock.png' %}" alt="Comic hero Morlock with Tyssir's social media link">
          </a>
        </div>
        <!-- <div id="lang-switch">
          <a href="/en">
            <img src="{% static 'webcomic/images/en_flag.svg' %}" alt="Great Britain flag">
          </a>
          <a href="/pl">
            <img src="{% static 'webcomic/images/pl_flag.svg' %}" alt="Polish flag">
          </a>
        </div> -->
      </div>
    </header>

    <main>
      <div id="container-2">
        <button class="arrow-big">
          <img src="{% static 'webcomic/images/arrow_left.png' %}" alt="Left arrow - previous page">
        </button>
        <div id="frame">
          <img id="comic-page" src="{% static 'webcomic/images/PL_1_0.png' %}" alt="Comic page">
        </div>
        <button class="arrow-big">
          <img src="{% static 'webcomic/images/arrow_right.png' %}" alt="Right arrow - next page">
        </button>
      </div>
    </main>

    <footer>
      <div id="footer">
        &copy;2021. Comic created by Justyna "Tysirr" Romul. Website made by Damian Juszczak. All rights reserved.
      </div>
    </footer>
  </body>
</html>